<app-player></app-player>

<app-pipe></app-pipe>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="alert alert-info">
                {{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequatur ullam. Hic voluptas tempore, vel consectetur cum aperiam eos odio, praesentium deserunt natus corrupti quam animi at exercitationem iste. Odio repellendus provident fugit distinctio necessitatibus molestiae? Ipsa consequatur excepturi, qui earum, deserunt facilis labore ex rem repudiandae ipsam consectetur in.'| uppercase}}
            </p>
            <p>
                {{para | summary : 5}}
            </p>
                
        </div>
    </div>
</div>